<div>
    <h2>Stack Trace</h2>
    <div id="accordion-trace" role="tablist" aria-multiselectable="true">
        <template>
            <div class="card mb-0">

            </div>
            <div class="card-header"></div>
            <table class="table table-bordered mb-0" cellspacing="0" cellpadding="0">

            </table>
            <tr>
                <td class="text-center" data-number style="width:6em" ></td>
                <td data-line></td>
            </tr>
            <pre class="stack-args"></pre>
        </template>
    </div>
</div>
